name: Update Gist
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Run update script
        env:
          GIST_TOKEN: ${{ secrets.GIST_TOKEN }}
        run: bash scripts/update-gist.sh
